# Binaries
bin/
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test artifacts
*.test
*.out
coverage.txt

# OS metadata
.DS_Store
Thumbs.db

# IDEs
.idea/
.vscode/
*.swp
*.swo

# SynapseCode local cache
.synapse/
